<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogX | Post your thoughts</title>
    <link rel="shortcut icon" type="img/svg" href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navigation">
        <a href="/dashboard"><img class="hamburger" src="/images/add.svg"/></a>
        <a href="/" class="font f700 title">BlogX</a>
        <a href="/login" class="font login">Login</a>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>