<section class="container">
    <section class="card3 roboto">
        <p class="f700 heading">{{viewPost.name}}</p>
        <p class="f300 date">{{format_time viewPost.date_created}} | {{viewPost.user.name}}</p>
        <p class="f400 desc">{{viewPost.description}}</p>
    </section>
    <section class="shareButtons">
        {{!-- Share icons in here --}}
    </section>
    <section class="comments">
        {{!-- Comment section in here --}}
    </section>
</section>