<section class="container">
    <form class="form edit-form font">
      <div class="form-group">
        <textarea class="form-input" type="text" id="edit-description" maxlength="50" placeholder="Describe yourself..." required>{{description}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary log" type="submit" id="updateProfile" data-id="{{id}}">Update Profile</button>
      </div>
    </form>
</section>