<section class="container">
    <form class="form login-form font">
        <div class="form-group">
          <input class="form-input" type="text" id="name-sign"  placeholder="Name"/>
        </div>
      <div class="form-group">
        <input class="form-input" type="text" id="email-sign"  placeholder="Email"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-sign" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary log" type="submit">Sign Up</button>
      </div>
    </form>
</section>
