:root {
  --black: #292828;
  --white: rgb(250, 250, 250);
}

.border {
  border: 1px solid black;
}

body {
  background-color: var(--white);
}

::selection {
  background: gray;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.font {
  font-family: "Montserrat", sans-serif;
}

.f100 {
  font-weight: 100;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.f800 {
  font-weight: 700;
}

.f900 {
  font-weight: 900;
}

.navigation {
  width: 90%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  right: 20px;
  color: var(--black);
}

.hamburger {
  width: 30px;
  transform: rotate(90deg);
  opacity: 80%;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.fab-icon {
  width: 45px;
  opacity: 100%;
  background-color: #292828;
  border: 4px solid #292828;
  border-radius: 50px;
  position: relative;
  bottom: 20px;
}

.nav-bottom {
  display: block;
  background-color: #29282800;
  position: fixed;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -40px;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.hamburger:hover {
  opacity: 50%;
}

.login {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--black) !important;
  transition: all 100ms ease-in-out;
}

.login:hover {
  opacity: 50%;
}

.container {
  width: 100%;
  position: relative;
  margin: 15px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}

.pageContainer {
  width: 100%;
  position: relative;
  margin: 15px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noPost {
  padding-top: 15px;
  opacity: 30%;
}

#post-title,
#post-description,
#edit-description {
  width: 400px;
}

#post-description,
#edit-description {
  height: 250px;
  text-align: start;
  border: 2px solid rgb(230, 230, 230);
  background-color: var(--white);
  padding: 20px;
  margin: 15px 0px;
  border-radius: 20px;
  outline: none;
  background-color: white;
  resize: none;
}

#comment {
  width: 100%;
  height: 200px;
  text-align: start;
  border: 2px solid rgb(230, 230, 230);
  background-color: var(--white);
  padding: 20px;
  margin: 15px 0px;
  border-radius: 20px;
  outline: none;
  background-color: white;
  resize: none;
}

.comment-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.add-container {
  display: flex;
  justify-content: center;
}

#postButton {
  width: 200px;
}

.card {
  overflow: hidden;
  width: 600px;
  margin: 30px 0px;
  padding: 60px;
  border-radius: 7px;
  background-color: rgba(238, 238, 238, 0.274);
  line-height: 3rem;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.card:hover {
  border: 1px solid rgba(238, 238, 238, 0.596);
}

.card2 {
  overflow: hidden;
  width: 60vw;
  margin: 20px 0px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgba(238, 238, 238, 0.274);
  line-height: 2rem;
  border: 4px solid var(--white);
  transition: all 100ms ease-in-out;
}

.card2:hover {
  background-color: var(--white);
  border: 4px solid rgba(238, 238, 238, 0.596);
}

.card3 {
  overflow: hidden;
  width: 85%;
  padding: 60px;
  border-radius: 7px;
  line-height: 3rem;
  border: 1px solid var(--white);
  transition: all 100ms ease-in-out;
}

.comments {
  padding-bottom: 50px;
}

.comment {
  padding: 40px 30px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.commentCon {
  background-color: rgba(220, 220, 220, 0.26);
  padding: 20px;
  margin: 0px 15px;
  text-align: left;
  font-size: 14px;
  /* border-radius: 50px 50px 50px 0px; */
  line-height: 1.5rem;
}

.add-comment {
  display: flex;
  justify-content: center;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 5%;
}

.poster {
  width: 65%;
  margin: auto;
  opacity: 20%;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 95px;
}

.datePost {
  opacity: 40%;
}

.person {
  width: 400px;
}

.nodata {
  width: 300px;
}

.redirect {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.validate {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading {
  font-size: 30px;
  color: var(--black);
}

.date {
  color: rgba(0, 0, 0, 0.342);
}

.desc {
  line-height: 2.5rem;
}

.login-form {
  margin-top: 40px;
}

.signup-form {
  margin-top: 40px;
}

input {
  border: 2px solid rgb(230, 230, 230);
  background-color: var(--white);
  padding: 20px;
  margin: 15px 0px;
  border-radius: 20px;
  width: 300px;
  outline: none;
  background-color: white;
}

button {
  border: none;
  background-color: var(--black);
  color: white;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 20px;
  width: 300px;
  outline: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

button:hover {
  opacity: 90%;
}

.signup {
  opacity: 40%;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--black) !important;
}

.wrong {
  opacity: 40%;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
  text-decoration: none !important;
  color: red !important;
  position: absolute;
  top: -5px;
  display: none;
}

.add {
  width: 40px;
  cursor: pointer;
  position: fixed;
  background-color: var(--white);
  bottom: 50px;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 10pt var(--white);
  transform: translate(-50%, -50%);
  transition: all 100ms ease-in-out;
}

.add:hover {
  opacity: 60%;
}

.add:active {
  bottom: 55px;
}

.home {
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .navigation {
    width: 80%;
  }

  .title {
    display: none;
  }

  .login {
    font-size: 16px;
  }

  .hamburger {
    width: 25px;
  }

  .card {
    width: 100%;
  }

  .card2 {
    width: 80vw;
  }

  .card3 {
    width: 100%;
  }

  input,
  button {
    width: 230px;
  }

  .person {
    width: 230px;
  }

  .nodata {
    width: 180px;
  }

  #post-title,
  #post-description,
  #edit-description {
    width: 250px;
  }

  .comment {
    width: 100%;
  }

  .comment-form {
    width: 85%;
  }

  .card3 {
    width: 95%;
    padding: 30px;
  }
}
